/* Base layout for full-screen centered content */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Title page background image */
body {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/Assets/Dynasty\ of\ Strength\ group\ background\ image\ for\ titlepage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: -1;
}

/* Link to The Factory page */
.factory-link {
  font-size: 3rem;
  color: rgb(202, 5, 5);
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px 100px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(255, 187, 78);

  /* transition: background-color 0.3s ease; */
}

.enterLink {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2.5%;
}

/* <-------------------Factory Page---------------------------> */

.factory-page {
  background-image: url("/Assets/Factory\ Explodes.jpg");
  /* adjust path */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  justify-content: end;
    align-items:center;
  z-index: -1;
}

.story-strip {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  max-height: 100%;
  /* limits height to half the screen */
  overflow-y: auto;
  /* enables scrolling */
  background-color: rgba(0, 0, 0, 0.70);
  color: white;
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.6);
  z-index: 2;
}