html {
    background-image: url(/Assets/Dynasty\ of\ Strength\ group\ background\ image\ for\ titlepage.jpg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position:center;
    background-attachment: fixed;
}